/* CAMBIOS DE LA HOJA DE ESTILOS */

body {
    font: 400 15px Tahoma, sans-serif;
    line-height: 1.8;
}

/* Esto lo pongo para que se vea un poco más bonito */
header,footer,aside{
    font: 600 14px Tahoma, sans-serif;
    line-height: 1.6;
}
/* CAMBIO DE HOJA DE IMAGEN DE FONDO */

/* TAREA 1 HEADERS */

/* TODOS LOS SELECTORES TIENEN ESPECIFICIDAD 001 DE ESTA PARTE*/


/* ESPECIFICIDAD 006*/
h1,h2,h3,h4,h5,h6 { 
    text-align: center;
    font-size-adjust: 1;
    font-family: "Times New Roman", Times, serif;
}


/* ESPECIFICIDAD 002*/
h1,h6{
    font-weight: bold;
}


/* ESPECIFICIDAD 003*/
h1,h3,h5{
    font-stretch: expanded;
}


/* ESPECIFICIDAD 003*/
h2,h4,h6{
    font-style: italic;
}


/* ESPECIFICIDAD 001*/
h1{
    font-size: 2em;
}


/* ESPECIFICIDAD 001*/
h2{
    font-size: 1.8em;
}

/* ESPECIFICIDAD 001*/
h3{
    font-size: 1.7em;
}

/* ESPECIFICIDAD 001*/
h4{
    font-size: 1.6em;
}

/* ESPECIFICIDAD 001*/
h5{
    font-size: 1.5em;
}

/* ESPECIFICIDAD 001*/
h6{
    font-size: 1.4em;
}

/* 2 TAREA DE DEFINICIÓN BÁSICA DE TEXTO */

/* ESPECIFICIDAD 006*/
p,li,ul,ol,td,th{
    font-family: sans-serif;
    font-size: 1.2em;
}

/*ESPECIFICIDAD 011*/
p::first-letter {
    font-size: 1.6em;
}


/* 3 COLOR Y FONDO */
/* ESPECIFICIDAD 001 */
h1,h2,h3,h4,h5,h6{
    background-color: #572958;
    color: rgb(230, 207, 240);
}

/* ESPECIFICIDAD 001*/
body {
    color: #818181;
    background-color: #f6f6f6;
}


/* 4 IMAGEN DE FONDO */
/* ESPECIFICIDAD 001*/
html {
    background-image: linear-gradient( rgba(168, 111, 182, 0.6), rgba(193, 148, 197, 0.6)), url("multimedia/Reparto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 100%;
    background-color: grey;
}

/* 5 PROPIEDADES DE LOS ENCABEZADOS PERO DE SU CAJA */
/* ESPECIFICIDAD 006*/
h1,h2,h3,h4,h5,h6{
    padding: 12px;
    text-align: center;
    text-justify: inter-word;
    text-transform: uppercase;
}

/* ESPECIFICIDAD 001*/
h1{
    letter-spacing: 1em;
    border-radius: 25px;
}

/* 6 PROPIEDADES DE ENLACES */ 
/* ESPECIFICIDAD 011*/
a:link      {
    color: rgb(184, 1, 201); 
    text-decoration: underline overline dotted pink;
   }

   
/* ESPECIFICIDAD 011*/
a:visited   {
    color: rgb(63, 18, 94); 
    text-decoration: underline  pink;
   }


/* 7 PROPIEDADES DE LISTAS Y TABLAS USANDO SELECTORES COMBINADOS */
/* ESPECIFICIDAD 001*/
table {
    border: 2px  white;
    background-color: rgba(172, 113, 26, 0.7);
    text-align: center;
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 5%;

}

/* ESPECIFICIDAD 002*/
th,td {
    color: rgba(237, 247, 109, 0.863);
    font-size: 1.2em;
}

/* ESPECIFICIDAD 011*/
tr:hover {
    background-color: rgba(224, 214, 169, 0.8);
}


/* List */
ul {
    counter-reset: index;  
    padding: 0;
    max-width: 300px;
  }
  
  /* List element */
  li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }
  
  
  /* Element counter */
  li::before {
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
  }
  
  